<section class="about">
    <div class="about__carousel">
        <div class="about__item" tabindex="-1">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Laudantium soluta illu ma</h3>
                    </div>
                    <h2 class="about__header">Lorem ipsum dolors <span class="underlined">Lorem ipsum</span> ipsum dolor sit amet conse.</h2>
                    <div class="modal-btn__wrapper modal-btn__wrapper_about">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Lorem ipsum que</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item" id="another" tabindex="-1">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Laudantium soluta illu ma</h3>
                    </div>
                    <h2 class="about__header">Lorem ipsum dolors <span class="underlined">Lorem ipsum</span> ipsum dolor sit amet conse.</h2>
                    <div class="modal-btn__wrapper modal-btn__wrapper_about">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Lorem ipsum que</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item" tabindex="-1">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Laudantium soluta illu ma</h3>
                    </div>
                    <h2 class="about__header">Lorem ipsum dolors <span class="underlined">Lorem ipsum</span> ipsum dolor sit amet conse.</h2>
                    <div class="modal-btn__wrapper modal-btn__wrapper_about">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Lorem ipsum que</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item" tabindex="-1">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Laudantium soluta illu ma</h3>
                    </div>
                    <h2 class="about__header">Lorem ipsum dolors <span class="underlined">Lorem ipsum</span> ipsum dolor sit amet conse.</h2>
                    <div class="modal-btn__wrapper modal-btn__wrapper_about">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Lorem ipsum que</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item" tabindex="-1">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Laudantium soluta illu ma</h3>
                    </div>
                    <h2 class="about__header">Lorem ipsum dolors <span class="underlined">Lorem ipsum</span> ipsum dolor sit amet conse.</h2>
                    <div class="modal-btn__wrapper modal-btn__wrapper_about">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Lorem ipsum que</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
    </div>
    <div class="about__additional">
        <div class="about__indicators">
            <div class="about__indicators-item about__indicators-item_active"></div>
            <div class="about__indicators-item"></div>
            <div class="about__indicators-item"></div>
            <div class="about__indicators-item"></div>
            <div class="about__indicators-item"></div>
        </div>
        <div class="about__mouse">
            <img src="img/scroll-icon-d.svg" alt="scroll-down">
        </div>
    </div>
</section>