<section class="about">
    <div class="about__carousel">
        <div class="about__toggler">
            <div class="about__toggler-item"></div>
            <div class="about__toggler-item"></div>
            <div class="about__toggler-item"></div>
            <div class="about__toggler-item"></div>
        </div>
        <div class="about__item">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader text-center">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Newport Beach, California</h3>
                    </div>
                    <h2 class="about__header text-center">The sun comes up on <span class="underlined">The Spencer</span> and with it the day begins.</h2>
                    <div class="modal-btn__wrapper">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Schedule a tour</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader text-center">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Newport Beach, California</h3>
                    </div>
                    <h2 class="about__header text-center">The sun comes up on <span class="underlined">The Spencer</span> and with it the day begins.</h2>
                    <div class="modal-btn__wrapper">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Schedule a tour</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader text-center">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Newport Beach, California</h3>
                    </div>
                    <h2 class="about__header text-center">The sun comes up on <span class="underlined">The Spencer</span> and with it the day begins.</h2>
                    <div class="modal-btn__wrapper">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Schedule a tour</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
        <div class="about__item">
            <div class="container">
                <div class="about__content">
                    <div class="about__subheader text-center">
                        <img src="img/about-map-pin-line.svg">
                        <h3>Newport Beach, California</h3>
                    </div>
                    <h2 class="about__header text-center">The sun comes up on <span class="underlined">The Spencer</span> and with it the day begins.</h2>
                    <div class="modal-btn__wrapper">
                        <button class="modal-btn modal-btn_transparent">
                            <p>Schedule a tour</p>
                            <img src="img/btn-logo-icon.svg">
                        </button>
                    </div>
                </div>
                <div class="about__arrow">
                    <img src="img/arrow-m.svg" alt="slide down">
                </div>
            </div>
        </div>
    </div>
</section>