<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer__text">
            <div class="footer__header">Lorem ipsum</div>
            <div class="footer__subheader">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum itaque vitae consequatur unde eum aut reiciendis, repellat voluptatem magnam totam inventore suscipit iusto aperiam accusantium explica.
            </div>
            <div class="modal-btn__wrapper">
                <button class="modal-btn modal-btn_footer">
                    <p>Lorem ipsum</p>
                    <img src="img/btn-logo-icon-violet.svg">
                </button>
            </div>
        </div>
        <div class="footer__rest">
            <ul class="footer__links">
                <li><a href="#">Lorem ipusm</a></li>
                <li><a href="#">Lorem ipusm</a></li>
                <li><a href="#">Lorem ipusm</a></li>
                <li><a href="#">Lorem ipusm</a></li>
                <li><a href="#">Lorem ipusm</a></li>
                <li><a href="#">Lorem ipusm</a></li>
                <li class="footer__links_desktop"><a href="tel:+1234567890">(123) 456-7890</a></li>
                <li class="footer__links_desktop"><a href="mailto: contact@loremipsum.com">contact@lorem.com</a></li>
            </ul>
            <div class="footer__copyright">
                Copyright © 2021. Lorem. All rights reserved.
            </div>
            <div class="footer__social">
                <a href="#">
                    <img src="img/fb-icon.svg" alt="facebook link">
                </a>
                <a href="#">
                    <img src="img/insta-icon.svg" alt="instagram link">
                </a>
                <a href="#">
                    <img src="img/yt-icon.svg" alt="youtube link">
                </a>
            </div> 
            <div class="footer-arrow-home">
                <img src="img/up-arrow-d.svg" alt="return home">
            </div>
        </div>
    </div>
</foot>