<footer class="footer">
    <div class="container">
        <div class="footer__copyright_desktop">
            Copyright © 2021. The Spencer. All rights reserved.
        </div>

        <div class="footer__header text-center">The Spencer</div>
        <div class="footer__subheader text-center">
            Using offbeat humor and a conversational voice, we play with language to bring joy to their work. We prefer the subtle over the noisy, the wry over the farcical. We don't take ourselves too seriously.
        </div>
        <ul class="footer__links">
            <li><a href="#">Residences</a></li>
            <li><a href="#">Neighborhood</a></li>
            <li><a href="#">Amenities</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About Us</a></li>
        </ul>

        <div class="footer__contacts">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>

        <div class="footer__bottom">
            <div class="modal-btn__wrapper">
                <button class="modal-btn modal-btn_footer">
                    <p>Schedule a tour</p>
                    <img src="img/btn-logo-icon.svg">
                </button>
            </div>
            <div class="footer__copyright text-center">
                Copyright © 2021. The Spencer. All rights reserved.
            </div>
            <div class="footer__social">
                <a href="#">
                    <img src="img/fb-icon.svg" alt="fb link">
                </a>
                <a href="#">
                    <img src="img/insta-icon.svg" alt="insta link">
                </a>
                <a href="#">
                    <img src="img/yt-icon.svg" alt="yt link">
                </a>
            </div> 
        </div>
    </div>
</foot>