
    <div class="navbar">
        <div class="navbar-top">
            <div class="navbar__logo">The Spencer</div>
            <div class="navbar__close-btn">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="navbar__photo"></div>
        <div class="navbar__hidden">
            <ul class="navbar__list">
                <li><a href="#" class="navbar-link">Residences</a></li>
                <li><a href="#" class="navbar-link">Neighborhood</a></li>
                <li><a href="#" class="navbar-link">Amenities</a></li>
                <li><a href="#" class="navbar-link">News</a></li>
                <li><a href="#" class="navbar-link">Contacts</a></li>
                <li><a href="#" class="navbar-link">About Us</a></li>
            </ul>
            <div class="navbar__social">
                @@include("modalbtn.html")
                <div class="navbar__links">
                    <a href="#"><img src="img/fb-icon.svg" alt="Facebook link"></a>
                    <a href="#"><img src="img/insta-icon.svg" alt="Instagram link"></a>
                    <a href="#"><img src="img/yt-icon.svg" alt=""></a></div>
            </div>
        </div>
    </div>