
    <div class="navbar">
        <div class="navbar-top">
            <div class="navbar__logo">The Brand</div>
            <ul class="navbar__slist">
                <li><a href="#">Something</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Something</a></li>
            </ul>
            <div class="modal-btn__wrapper modal-btn__wrapper_navbar">
                <button class="modal-btn modal-btn_transparent">
                    <p>Lorem ipsum</p>
                    <object class="modal-btn__img" data="img/btn-logo-icon.svg" type="image/svg+xml"></object>
                </button>
            </div>
            <div class="navbar__close-btn">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="navbar__photo"></div>
    </div>

    <div class="navbar__hidden">
        <div class="navbar__img">
            <img src="img/5th-screen-photo.png">
        </div>
        <ul class="navbar__list">
            <li><a href="#" class="navbar-link">Lorem ipsum</a></li>
            <li><a href="#" class="navbar-link">Lorem ipsum</a></li>
            <li><a href="#" class="navbar-link">Lorem ipsum</a></li>
            <li><a href="#" class="navbar-link">News</a></li>
            <li><a href="#" class="navbar-link">Contacts</a></li>
            <li><a href="#" class="navbar-link">About Us</a></li>
        </ul>
        <div class="navbar__social">
            <div class="modal-btn__wrapper">
                <button class="modal-btn modal-btn_navbar">
                    <p>Lorem ipsum</p>
                    <img src="img/btn-logo-icon-violet.svg">
                </button>
            </div>
            <div class="navbar__links">
                <a href="#"><img src="img/fb-icon.svg" alt="Facebook link"></a>
                <a href="#"><img src="img/insta-icon.svg" alt="Instagram link"></a>
                <a href="#"><img src="img/yt-icon.svg" alt=""></a></div>
        </div>
    </div>