<div class="adv-block">
    <h2 class="adv-block__header text-center">
        Ready to begin the day, step out of The Spencer and embrace the energy of Dallas.
    </h2>
    <h3 class="adv-block__subheader text-center">
        The homes and amenities of The Spencer feature a subtle mingling of organic materials and lush textures, giving the building a rich sense of character.
    </h3>
    <div class="modal-btn__wrapper">
        <button class="modal-btn modal-btn_transparent">
            <p>Schedule a tour</p>
            <img src="img/btn-logo-icon.svg">
        </button>
    </div>
    </button>
</div>