.imgtoggler {
    width: 32px;
    height: 32px;
    background-color: var(--clr-primary-400);
    border: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 91.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s all;
    @include sm {
        left: unset;
        top: 16px;
        right: 0;
        &:focus {
            outline: none;
            filter: hue-rotate(10deg);
        }
        &:hover {
            cursor: pointer;
        }
    }
    &-cross {
        width: 14px;
        height: 2px;
        background-color: var(--clr-primary-100);
        position: relative;
        &::before {
            content: "";
            height: 14px;
            width: 2px;
            background-color: var(--clr-primary-100);
            position: absolute;
            top: -6px;
            left: 6px;
        }
    }
}