.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 1.24;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &_transparent {
        width: 175px;
        height: 46px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        font-size: var(--fz-primary-400);
    }
    p {
        padding-right: 10px;
    }
    &_footer {
        display: none;
    }
}